.row {
	display: flex;
	flex-direction: row;
}

.btn {
	width: 48px;
	height: 48px;
	background: #ffd700;
	color: white;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;

}

.btn:active {
	background: #ffb700;
}

.result {
	color: #ffa600;
	padding: 1rem;
	border-radius: 4px;
}

.result:disabled {
	background-color: white;
	border: solid 1px #ffe100;
	font-size: 14px;
}